body {
  padding: 1rem;
  font-family: Inter, sans-serif;
  background-color: #ffffff;
}

button {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding: 0.75rem 0.75rem 0.75rem 0.75rem;
  border-radius: 0.75rem;
  border-color: transparent;
  background-color: #ffffff;
}

button:hover {
  transition: 1s;
  background-color: aqua;
  color: blue;
}

p {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

input {
  border: none;
  border-radius: 10px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-top: 0.75em;
  margin-bottom: 0.75rem;
  background-color: rgb(240, 239, 239);
  color: black;
  margin-left: 0.75rem;
}

textarea {
  border: none;
  border-radius: 10px;
  padding-top: 1rem;
  margin-top: 0.75em;
  background-color: rgb(240, 239, 239);
  color: black;
  width: 600px;
  height: 150px;
  margin-left: 1rem;
}

.controls {
  display: block;
  flex-direction: row;
  justify-content: flex-end;
  flex: 0 0 50px;
}

.categories {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  flex-direction: row;
  justify-items: flex-start;
  border-radius: 12px;
  margin-top: 1.25rem;
  padding: 1rem;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 1px 25px -17px rgba(0, 0, 0, 0.79);
}

.categories button {
  flex: 0 5px 80px;
  border-radius: 0.5rem;
  border-width: 1px;
  padding-left: 0.75rem;
}

.container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 150px auto 300px;
}

.header {
  font-size: small;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.bottom button p {
  flex: 0 0 100px;
}

.card {
  border-radius: 12px;
  margin-top: 1.25rem;
  padding: 1rem;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 1px 1px 25px -17px rgba(0, 0, 0, 0.79);
}
